[*.{kt,kts}]
# Jetpack Compose requires functions to start with uppercase
ktlint_function-naming = disabled
ktlint_property-naming = disabled

# Allow inline comments in Compose code
ktlint_discouraged-comment-location = disabled

